{
  "extends": "airbnb",
  "rules": {
    "semi": 0,
    "no-console": "off",
    "quotes": "off",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
